.navbar {
    color: green;
}

.bg-my {
    background-color: black !important;
    padding-right: 0;
}

.btnPosition {
    display: inline-block;
    position: absolute;
    width: 23%;
    margin-top: 39%;
    top: 0px;
    left: 39%;
    font-size: 2vw;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);;
}

.textposition {
    font-family: "Montserrat", sans-serif !important;
    text-align: center;
    padding-top: 17%;
    position: absolute;
    top: 0px;
    left: 28%;
    color: white;
    font-size: 5vw;

}

@media screen and (max-width:650px){
    
.btnPosition {
    width: 28%;
    height: 15%;
    margin-top: 37%;
    padding-bottom: 40px;
    left: 36.5%;
    font-size: 4vw;
}

.navbar-brand{
    visibility: hidden;
}

.table-style{
    font-size: 3.1vw !important;
    margin-left: -40% !important;
    margin-top: 40px;
    width: 85% !important;  
}

.img-razor{
    width: 0px !important;
}

.logo-pos{
   visibility: hidden;
}
}

@media screen and (max-width:770px){


.text-card{
    font-size: 4vw !important;
}
.text-card-head{
    font-size: 4vw !important;
}
.text-incard{
    font-size: 3vw !important;
}
}

@media (min-width: 576px){
.card-deck {
     flex-flow: column; 
     margin-left: -15px;
     margin-top: 20px; 
}
}

@media (min-width: 770px){
.card-deck {
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}
}
.card {
    margin-top: 10px;
}
.block{
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0;
}

.imgpos{
    width:100%;
    height:100%; 
    background-size:cover;
    position: relative;
            
}      

.text-card{
    font-size: 3vw;
}

.text-incard{
    font-size: 1,5vw;
}

.text-card-head{
    font-size: 2vw;
}

.card-deck-pos{
    margin-top: -40px;
}

.btn-in-card{
    border-radius: 14px;
    width: 160px;
}

.card-style{
    transition: transform 0.2s ease;
}

.card-style:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 
        -0   -1px 2px #FFC107,
         0   -1px 2px #FFC107,
        -0    1px 2px #FFC107,
         0    1px 2px #FFC107,
        -1px -0   2px #FFC107,
         1px -0   2px #FFC107,
        -1px  0   2px #FFC107,
         1px  0   2px #FFC107,
        -1px -1px 2px #FFC107,
         1px -1px 2px #FFC107,
        -1px  1px 2px #FFC107,
         1px  1px 2px #FFC107,
        -1px -1px 2px #FFC107,
         1px -1px 2px #FFC107,
        -1px  1px 2px #FFC107,
         1px  1px 2px #FFC107;

}

.h3-head{
    margin-top: 1000px;
    padding-bottom: 40px;
}

.modalwin { 
    height: 500px;  
    width: 300px; 
    background:white;
    top: 20%; 
    right: 0;
    left: 0;
    font-size: 14px; 
    margin: 0 auto;
    z-index:3; 
    display: none;  
    position: fixed;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}
            
#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:2; 
    background:#000;
    opacity: .85;
    left:0;
    top:0;

}

.button-form{
    margin-top: 15px;
    margin-bottom: 2px;
    width: 100%;
   }

.input-form{
    position: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.table-style{
     font-family: "Montserrat", sans-serif !important;
    font-size: 25px;
    border-radius: 5px;
    width: auto;
    position: relative;
    margin-top: 40px;
    left: 50%;
    margin-left: -210px;
    border: 2px;
}

.price-header{
    
    font-family: "Montserrat", sans-serif ;
    font-size: 2rem;
    margin-top: 70px;
}   

.h3-head{
	margin-top: 60px;
	padding-bottom: 40px;
}
.bg-navtop{
    opacity: .8.5;
}
.text-h2{
    font-family: "Montserrat", sans-serif !important;
    position: absolute;
    left: 38%;
    margin-left: 0px;
    color: white;
    font-size: 3vw;
    margin-top: 25%;
    top: 0px;
}

.price-style{
    margin-top: 50px;
}

.nav-style{
    opacity: .9;
    margin-top: px;
    position:absolute; 
    background-color: ;
    z-index: 2;
    width: 100%;
    font-size: 20px;
}

.btn-transform{
    transition: transform 0.2s ease;
}

.btn-transform:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.footer-new{
    width: 100%;
    height: 120px;
    background-color: #343a40;
    color: black;
    margin-right: -20px;
    position: absolute;
    left: 0px;

}

.phone-number{
    font-size: 18px;
    color: white;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left:-70px;
    margin-top: 70px;

}

.img-vk{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}

.vk-pos{
    margin-left: 140px;
    margin-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa ;

}

body {
    position: relative;
}